@import url("color/auto.css");
@import url("styles/nav.css");

/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default layout */

body main {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 30%;
}

aside {
  position: fixed;
  right: 5%;
  margin-top: 2.5%;
}