body {
    background-color: white;
    color: black;
    background: url(../assests/images/hintergrund01.png) no-repeat center center fixed;
}

.block {
    color: #141618;
    background: #fff;
}

.hyperlink {
    text-decoration: underlined;
    color: black;
}